---
# This workflow will do a clean installation of node dependencies,
#  cache/restore them,
# build the source code and run tests across different versions of node
# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

"on": push

jobs:
  build:

    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root_password
          MYSQL_DATABASE: test_db
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
      - run: yamllint .github/workflows/tuto.yml
      - run: yamllint .github/workflows/node.js.yml
      - run: yamllint _config.yml
      - run: sudo apt install mysql-server
      - run: sudo mysql -uroot -proot_password
